* {
    color: white;
    font-family: 'Dosis', Helvetica, sans-serif;
}

.drag-in {
    background-image: url('./assets/medium-rect.svg');
    background-size: 100% 100%;
    /* height: 200px; */
    /* width: 245.73px; */
    height: 150px;
    width: 183.3px;

}

.total-points,
.bat-btn,
.ball-btn {
    background-image: url('./assets/total-points.svg');
    background-size: 100% 100%;
}

.total-points {
    background-image: url('./assets/total-points-big.svg');
    background-size: 100% 100%;
    /* height: 200px; */
    /* width: 150px; */
}

/* body  */
.calculator 
{
    backdrop-filter: blur(12.5px);
}

.card-placeholder {
    background-image: url('./assets/card-placeholder.svg');
    background-size: 100% 100%;
}

.highlight {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border-color: #00d7c3;
    border-radius: 10px;
}

.highlight-btn {
    border-radius: 6px !important;
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border-color: #00d7c3;
    background-size: initial;
}
