.home-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  Link {
    text-decoration: none;
    color: #008CBA;
    font-weight: bold;
  }
  
  Link:hover {
    color: #00506b;
  }
  