.add-player-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
  }

  .h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: larger;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 10px;
  }
  
  .input {
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: black !important ;
  }

  .select {
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: black !important ;
  }

  .option {
    color : black;
  }
  

  .submit-button {
    background-color: #1bf146 !important;
    color: white ;
    padding: 10px 15px ;
    border: none ;
    border-radius: 4px ;
    cursor: pointer ;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-label {
  margin-bottom: 10px;
}

.radio-input {
  margin-right: 5px;
}

.radio-text {
  margin-left: 5px;
}


  
