* {
    color: white;
    font-family: 'Dosis', Helvetica, sans-serif;
}

.drag-in {
    background-image: url('./assets/medium-rect.svg');
    background-size: 100% 100%;
    height: 200px;
    width: 200px;
}
.total-points, .bat-btn , .ball-btn {
    background-image: url('./assets/total-points.svg');
    background-size: 100% 100%;
}
.total-points {
    background-image: url('./assets/total-points-big.svg');
    background-size: 100% 100%;
}
.calculator {
    background-image: url('./assets/bg-img.png');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.card-placeholder {
    background-image: url('./assets/card-placeholder.svg');
    background-size: 100% 100%;
}
