.dashboard-container {
  display: grid;
  row-gap: .3rem;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1.3fr 5fr;
  width: 100%;
  /* height: 100%; */
}

.team-container {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 .3rem;
  background-color: rgba(88, 130, 193, 0.20);
  border: 3px solid rgba(88, 130, 193, 0.49);
  border-radius: 15px;
}

.budget-text {
  font-family: 'Dosis', Helvetica, sans-serif;
  font-weight: 700;
  color: #FFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.powercard-text {
  font-size: 1.6rem;
  font-family: 'Della Respira', Georgia, serif;
  font-weight: 400;
  color: #FFF;
}

.powerupcard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}