@font-face {
  src: local('Gilroy-Bold'), url(/fonts/Gilroy-Bold.ttf) format('truetype');
  font-family: 'Gilroy-Bold';
}

@font-face {
  src: local('Gilroy-Regular'), url(/fonts/Gilroy-Regular.ttf) format('truetype');
  font-family: 'Gilroy-Normal';
}

.main,
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-width: 320px;
  min-height: 100vh;
  background-image: url('/images/login_bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.login-container {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  flex-direction: column;
  align-items: stretch;
  width: 24rem;
  height: 24rem;
  padding: 3.5rem;
  background-color: rgba(88, 130, 193, 0.20);
  border: 3px solid rgba(88, 130, 193, 0.49);
  border-radius: 1.5rem;
}

.login-title {
  margin-bottom: 1rem;
  font-size: 1.875rem;
  font-family: Gilroy-Bold, Arial, Helvetica, sans-serif;
  color: #FFF;
}

.input-group {
  margin-bottom: .3rem;
}

.input-label {
  display: block;
  font-size: .9rem;
  font-family: Gilroy-Normal, Arial, Helvetica, sans-serif;
  color: #FFF;
}

.input-field {
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: black;
}

.input-field::placeholder {
  font-size: 1rem;
  color: #BCBEC0;
}

button.login-button,
[type='submit'].login-button {
  width: 100%;
  margin-top: .5rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  background-color: #005F7F;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  font-size: 1.2rem;
  color: white;
}

button.login-button:hover,
[type='submit'].login-button:hover {
  background-color: #004C66;
}


/* .box {
  height: 377px;
  position: relative;
  width: 417px;
}

.box .group {
  height: 377px;
  left: 0;
  position: fixed;
  top: 0;
  width: 421px;
}

.box .text-wrapper {
  color: #ffffff;
  font-family: "Gilroy-Bold", Helvetica;
  font-size: 38px;
  font-weight: 700;
  height: 46px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 80px;
}

.box .overlap {
  background-color: #005f7f;
  border-radius: 10px;
  height: 50px;
  left: 2px;
  position: absolute;
  top: 327px;
  width: 415px;
}

.box .div {
  color: #ffffff;
  font-family: "Gilroy-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 24px;
  left: 181px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 52px;
}

.box .group-2 {
  height: 213px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 425px;
}

.box .overlap-group {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #bcbec0;
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 415px;
}

.box .text-wrapper-2 {
  color: #bcbec0;
  font-family: "Gilroy-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 117px;
}

.box .text-wrapper-3 {
  color: #ffffff;
  font-family: "Gilroy-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 36px;
}

.box .overlap-group-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #bcbec0;
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 132px;
  width: 415px;
}

.box .text-wrapper-4 {
  color: #bcbec0;
  font-family: "Gilroy-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 51px;
}

.box .clarity-eye-hide {
  height: 16px;
  left: 383px;
  position: absolute;
  top: 16px;
  width: 13px;
}

.box .text-wrapper-5 {
  color: #ffffff;
  font-family: "Gilroy-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 106px;
  width: 65px;
}

.box .text-wrapper-6 {
  color: #ffffff;
  font-family: "Gilroy-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 199px;
  width: 81px;
} */