.main,
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-width: 320px;
  min-height: 100vh;
  background-image: url('/images/background/login.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.login-container {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  flex-direction: column;
  align-items: stretch;
  width: 24rem;
  height: 24rem;
  padding: 3.5rem;
  background-color: rgba(88, 130, 193, 0.20);
  border: 3px solid rgba(88, 130, 193, 0.49);
  border-radius: 1.5rem;
}

.login-title {
  margin-bottom: 1rem;
  font-size: 1.875rem;
  font-family: Gilroy-Bold, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #FFF;
}

.input-group {
  margin-bottom: .3rem;
}

.input-label {
  display: block;
  font-size: .9rem;
  font-family: Gilroy-Normal, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #FFF;
}

.input-field {
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: black;
}

.input-field::placeholder {
  font-size: 1rem;
  color: #BCBEC0;
}

button.login-button,
[type='submit'].login-button {
  width: 100%;
  margin-top: .5rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  background-color: #005F7F;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  font-size: 1.2rem;
  color: white;
}

button.login-button:hover,
[type='submit'].login-button:hover {
  background-color: #004C66;
}