.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  height: 13vw;
  cursor: pointer;
  border: .2rem solid gray;
  border-radius: 30px;
}

.card-front,
.card-back {
  align-items: stretch;
  background-image: url('/images/card_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.5rem;
}

.player-name {
  font-size: 1.1rem;
  font-family: 'Economica', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  line-height: 1.4rem;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.front-stat-container,
.back-stat-container {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: .5rem;
  text-align: center;
}

.front-stat-container {
  align-items: center;
  padding: 0.25rem;
}

.back-stat-container {
  margin: .25rem .25rem 0 .25rem;
  padding: .5rem;
}

.stat-text {
  font-size: .9rem;
  font-family: "DroidSans-Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #1B223E;
}