.nav-container {
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  position: sticky;
  padding: 3px;
  background-color: rgba(88, 130, 193, 0.20);
  border: 3px solid rgba(88, 130, 193, 0.49);
  border-radius: 15px;
}

.route-container,
.logo-container {
  display: flex;
  align-items: center;
  flex: 50%;
}

.nav-content,
.logo-content,
.spectate-content,
.spectate-team-name {
  display: inline-flex;
  align-items: center;
  font-family: 'Dosis', Helvetica, sans-serif;
  font-weight: 700;
  color: #FFF;
  text-align: center;
}

.nav-content {
  padding: 10px;
  transition: all .25s ease-in-out;
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: 1.2rem;
}

.nav-content:hover {
  /* Raise Animation */
  /* box-shadow: 0 0.6em 0.6em -0.6em #00d7c3;
  transform: translateY(-0.25em); */
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border-color: #00d7c3;
}

.logo-content {
  padding-right: 30%;
  font-size: 2.3rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar {
  filter: drop-shadow(0 4px 25px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.75;
  overflow-y: auto;
  margin: 0.25rem;
  padding: 1rem;
  background-color: rgba(88, 130, 193, 0.20);
  border-width: 3px;
  border-color: rgba(88, 130, 193, 0.49);
}

.spectate-content {
  display: flex;
  align-items: center;
  margin: .8rem 0;
  font-size: 1.6rem;
}
.spectate-content img {
  margin: 0 1rem;
}

.team-logo {
  width: 3.2rem;
  height: 3.2rem;
  margin: .4rem 1.5rem;
  background-color: white;
  border-radius: 50%;
}